body{
    padding: 1rem;
}
form{
    padding: 0rem 20%;
}
input { 
    text-align: center; 
    padding: 0rem 25rem;
}
div{
    align-content: center;
}
h1 {
	font-family: "Brush Script MT", cursive;
	font-size: 64px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    padding: 1.5rem;
}
.c-buttons {
    background-color: white; /* Green */
    border: 1px solid lightblue;
    color: black;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    float:left;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.c-buttons:hover {
    background-color: lightblue;
    color: white;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.card {
  width: 200px;
  height: 300px;
  padding: 0.5rem;
  float: left;
}

.card-info {
  padding: 0.5rem;
  /*display: -ms-grid;*/
  display: grid;
  -ms-grid-rows: 1fr 2.5rem;
      grid-template-rows: 1fr 2.5rem;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.card-title {
    font-family: "Verdana";
    padding: 0rem;
  font-size: 18px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card-icon-NEW {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  float:right;
  width: 20px;
  height: 20px;
  background-color: LightBlue;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-items: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-icon-OK {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: right;
  width: 20px;
  height: 20px;
  background-color: LightGreen;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-items: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-icon-LATE {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: right;
  width: 20px;
  height: 20px;
  background-color: Orange;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-items: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-icon-ABSENT {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: right;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-items: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-buttons {
    /*align-content: center;*/
    align-self: bottom;
    align-self: center;
    float: left;
}

.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #115b8d;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}

